<link rel="stylesheet" media="screen" href="https://penidapify.com/assets/css/editor_app.css?v=1.0" />{% if content_for_header contains "penidapify" %}<div class='logo-showcase-content'><div class="logo-content" style="background: rgb(255, 255, 255);"><div class="logo-left-side logo-divider" style="text-align: center;border-color: #000">
                            <span class="sub-title" style="color: #707070"></span>
                            <h3 class="title" style="color: #000000;">AS SEEN IN</h3>
                            
                        </div><div class="logo-list swiper mySwiper "><div class="logo-details logo1 swiper-slide" style="text-align: center;">
                            <a href="https://www.etonline.com/elvy-lab-founder-and-ceo-lekha-vyas-explains-why-skincare-for-men-shouldnt-be-confusing-196681" target="_blank">
                            <img src="https://penidapify.com/uploads/3900_941817101_1676384356.png">
                            <h3 class="title" style="color: #000000;"></h3>
                            <span class="sub-title" style="color: #707070;"></span>
                            </a>
                        </div><div class="logo-details logo2 swiper-slide" style="text-align: center;">
                            <a href="https://www.cnn.com/cnn-underscored/beauty/best-winter-beauty-makeup-launches" target="_blank">
                            <img src="https://penidapify.com/uploads/3900_355114205_1676384356.png">
                            <h3 class="title" style="color: #000000;"></h3>
                            <span class="sub-title" style="color: #707070;"></span>
                            </a>
                        </div><div class="logo-details logo3 swiper-slide" style="text-align: center;">
                            <a href="https://finance.yahoo.com/news/elvy-lab-announces-launch-mens-052700402.html?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAC0rs7p5y0XhnlQJrywU7GwB5Xii1A1EoLHeTzWlMX0L3clgnd-CT9yuwlU6lou1b0ZBB0mzXmVvnd-mQmibEMTJNqsgpbMXb" target="_blank">
                            <img src="https://penidapify.com/uploads/3900_532835644_1676384356.png">
                            <h3 class="title" style="color: #000000;"></h3>
                            <span class="sub-title" style="color: #707070;"></span>
                            </a>
                        </div></div></div></div>{% endif %}
{% schema %}
  {
    "name": {
      "en": "Logo showcase"
    },
    "class": "logo-showcase-section",
    "presets": [
      {
        "name": "Logo showcase",
        "category": "Logo"
	  }
    ]
  }
{% endschema %}