
.brands {
  &__info {
    & h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 42px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      color: #1E1E1E;
      text-align: center;
      @include media-breakpoint-down(sm)  {
        margin: 0px;
      }
    }
    &-list {
      padding-left: 0px;
      display: flex;
      align-items: center;
      list-style: none;
      & li {
        text-align: center;
        & img {
          max-width: 66%;
          text-align: center;
        }
      }
    }
    &-item {
      flex: 0 1 20%;
      @include media-breakpoint-down(sm) {
        flex: 0 0 auto;
      }
    }
  }
}