.top-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 139px 0 65px;
  min-height: 450px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  @include media-breakpoint-down(xs) {
    padding: 38px 0;
    min-height: 320px;
    display: flex;
    align-items: center;
  }

  h1 {
    color: #fff;
    margin-bottom: 10px;
    max-width: 763px;

    @include media-breakpoint-down(xs) {
      font-size: 42px;
      line-height: 110%;
      margin-bottom: 14px
    }
  }
  &__mobile-box {
    @include media-breakpoint-down(xs) {
      padding: 0 !important;
    }
  }
  &__text {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 575px;

    @include media-breakpoint-down(xs) {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }

    p {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
  }
}